# archon-docs.container
[Unit]
Description=Archon Documentation Site with Docusaurus

[Container]
ContainerName=archon-docs
EnvironmentFile=${ENV_PATH_DEFAULT}
EnvironmentFile=${ENV_PATH}
HealthCmd=["curl","-f","http://localhost:80"]
HealthInterval=30s
HealthRetries=3
HealthTimeout=10s
Image=archon-docs
Network=archon-network
PublishPort=3838:80

[Install]
WantedBy=default.target
